.App {
  text-align: center;
}

.App ul {
  list-style: none;
}
.App-logo img {
  width: 80%;
  border-radius: 15px 50px 30px;
  padding: 10px;
}

.App-header {
  background-color: orange;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-container {
  display: flex;
  background-color: blue;
}

.App-sidebar {
  padding: '10px';
  background-color: #fff;
  flex: 1;
}

.App-content {
  flex: 3;
  background-color: burlywood;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
